body {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
}
.button {
    position:absolute;
    margin-top:38%;
    left:45%;
}
#zombie {
    height:100px;
    width:100px;
    position: absolute
}
#zombie2 {
  height:100px;
  width:100px;
  position: absolute
}
